/* Mulish & Inter Font Import */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* root colors */
:root {
    --theme: #FF5400;
    --black: #131318;
    --light: rgba(19, 19, 24, 0.70);
    --grey: #424247;
    --ash: #5A5A5D;
    --input: rgba(19, 19, 24, 0.50);
}

/* universal styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.origin{
    width: 100%;
}

.all-title {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--black);
}

a{
    text-decoration: none;
    color: var(--black);
    transition: all .15s;
}

a:hover{
    color: var(--theme);
}

button{
    cursor: pointer;
    transition: all .15s ease-in-out;
}

button:hover{
    background-color: #FFF;
    color: var(--theme);
    border: .5px solid var(--theme);
}

.unique{
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.unique:hover, .unique:hover i, .newsletter .unique:hover{
    background-color: #FFF;
    color: var(--theme);
    
}

/* background image styles */
.bgs {
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    border-radius: 1rem;
}

/* header styles */
header {
    width: 73.125rem;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* website title styles */
.website-title h1 {
    font-weight: 800;
    font-size: 2.25rem;
}

.website-title h1 span {
    color: var(--theme);
    -webkit-text-stroke: 0.025rem;

}

/* nav styles */
.nav2{
    display: none;
}

nav {
    font-size: 1.125rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
    gap: 2.75rem;
}

nav>ul>li {
    list-style: none;
}

nav>ul>li>a {
    color: var(--grey);
}

.home {
    color: var(--theme);
}

* main styles */
body{
    width: 100%;
    background-color: #FFF;
    margin: 0;
    padding: 0;
}
section {
    padding: 3rem 0;
    margin: 0 auto;
    width: 73.125rem;
}

/* banner styles */
.banner-container {
    height: 31.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 73.125rem;
    margin: 0 auto;
    position: relative;
    border-radius: 16px;
}

.gradient{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    z-index: -1;
    border-radius: 16px;

}

.banner-container>img{
    z-index: -2;
    height: 100%;
    width: 100%;
    object-fit: fill;
    display: block;
    position: absolute;
    border-radius: 16px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 800;
    color: #FFF;
    margin-bottom: 1.5rem;
}

.banner-describe {
    color: #FFF;
    width: 42.25rem;
    text-align: center;
}

.banner-form {
    margin-top: 3rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.30);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.banner-form * {
    height: 3.25rem;
    width: 10.875rem;
    border: 0;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: var(--input);
    padding: .5rem;
}

.banner-form>button>* {
    color: #FFF;
    font-size: 1rem;
    display: inline;
    background-color: var(--theme);
}

.banner-form>button {
    color: #FFF;
    font-size: 1rem;
    background-color: var(--theme);
}

/* popular styles */
.popular {
    display: flex;
    width: 73.125rem;
    margin: 0 auto;
    justify-content: space-between;
    gap: 3.3rem;
}

.popular-content {
    width: 36.0625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    line-height: 1.625rem;
}

.popular-content .popular-list {
    display: flex;
    flex-direction: column;
    width: 32.8125rem;
    gap: 1rem;
    padding-left: 2rem;

}

.popular-bg {
    width: 33.75rem;
    height: 34.375rem;
    position: relative;
}

.pop-gradient{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.00) 100%);
    z-index: -1;
    border-radius: 16px;

}

.popular-bg>img{
    z-index: -2;
    height: 100%;
    width: 100%;
    object-fit:cover;
    display: block;
    position: absolute;
}

.popular-describe {
    width: 36.0625rem;
    color: var(--light);
}

.popular-list li {
    color: var(--light);
}

.popular-btn {
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    padding: 0.85rem 2.15rem;
    border-radius: 0.5rem;
    background: #FF5400;
    border: .5px solid var(--theme);
}